@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;




.header {
	&__btn {
		order: 2;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		@include tablet {
			order: 0;
            width: auto;
			margin: 0 1rem;
            min-width: 9.375rem;
            padding: 0 2rem;

		}
        @include desktop{
            margin: 0 1.5rem;
        }
	}
	&__buttonIcon {
		height: 16px;
		width: 10%;
		position: absolute;
		left: 0;
        @include tablet {

            width: 20%;
		}
	}
}
