// primary colors

$black : #323232;
$blue : #0095FF;
$silver :#AFAFAF;
$white : #FFF;


//secondary colors

$black_dark : #000;
$blue_dark : #0065ad;
$mercury :#e1e1e1;
$alabaster:#fafafa;

$error:#d22d2d;