@use "./colors" as *;
@use "./fonts" as *;
@use "./mixins" as *;

body {
	// background-color: red;
}
img {
	width: 100%;
	height: auto;
}
.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 1rem 1rem 1rem;
	@include tablet {
		width: 90%;
		padding: 1rem 0rem ;
	}
	@include desktop {
		width: 80%;
	}
}
