@use "../../styles/partials/colors.scss" as *;
@use "../../styles/partials/mixins.scss" as *;


.below-video{
    @include desktop{

        display: flex;
    }

    &__disc{
        @include desktop{
            width: 70%;
            border-right: 1px solid $mercury;


        }
    }

}