@use "../../styles/partials/global.scss" as *;
@use "../../styles/partials/colors.scss" as *;
@use "../../styles/partials/fonts.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.header {
	@include tablet {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 0;
	}
	&__logo {
		text-align: center;
		padding: 1.5rem 0;

		@include tablet {
			text-align: left;
			padding: 0;
		}
	}
	&__logoImg {
		max-height: 1.5625rem;
		max-width: 7.5rem;
		// height: 1rem;
		height: 2.5rem;
	}

	//form
	&__form {
		display: flex;
		flex-wrap: wrap;
		@include tablet {
			flex-wrap: nowrap;
			align-items: center;
			width: 70%;
			justify-content: end;
		}
	}
	&__search-container {
		display: flex;
		width: 85%;
		margin-bottom: 1rem;

		border-radius: 4px;
		// padding: 0.75rem;
		border: 1px solid $mercury;
		background-color: $alabaster;
		@include tablet {
			width: auto;
			padding: 0;
			margin-bottom: 0rem;
		}
	}

	&__search-icon {
		min-height: 2.25rem;
		height: 2.25rem;
		width: 10%;
		// border-radius: 4px;
		padding: 0.5rem;
	}
	&__search {
		width: 100%;

		&::placeholder {
			color: black;
		}
	}
	&__avatar-container {
		text-align: center;
		width: 15%;
		@include tablet {
			width: auto;
		}
	}
}
