@use "./styles/partials/global.scss" as *;
@use "./styles/partials/colors.scss" as *;
@use "./styles/partials/fonts.scss" as *;
@use "./styles/partials/mixins.scss" as *;

* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

body {
	font-family: $default_font;
	font-size: 0.8125rem;
	line-height: 1.125rem;
	@include tablet {
		font-size: 0.875rem;
		line-height: 1.375rem;
	}
}
a{
	text-decoration: none;
}
h1 {
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: bold;
	@include tablet {
		font-size: 2.0625rem;
		line-height: 2.75rem;
	}
}

h2 {
	font-size: 0.8125rem;
	line-height: 1.125rem;
	font-weight: bold;
	@include tablet {
		font-size: 0.875rem;
		line-height: 1.375rem;
	}
}

button {
	font-family: $default_font;

	font-size: 0.75rem;
	line-height: 1.25rem;
	font-weight: bold;
	height: 2.5rem;
	border-radius: 0.25rem;
	height: 2.5rem;
	color: white;
	background-color: $blue;
	border: none;

	&:hover {
		background-color: $blue_dark;
		cursor: pointer;
	}
	@include tablet {
	}
}

textarea {
	font-family: $default_font;
	resize: none;
	width: 100%;
	&::placeholder {
		color: $black;
	}

	min-height: 2.25rem;
	border-radius: 4px;
	padding: 0.75rem;
	border: none;
	background-color: $alabaster;
	// transition-duration: 0.25s;
	&:active {
		border: 2px solid $blue;
	}
	@include tablet {
		min-height: 2.5rem;
		min-width: 15rem;
		padding: 1rem;
		height: 2.5rem;
	}
}

label {
	font-family: $default_font;

	font-size: 0.75rem;
	line-height: 1.25rem;
	font-weight: bold;
	color: $silver;
}

.inputfield {
	min-height: 2.25rem;
	border-radius: 4px;
	padding: 0.75rem;
	border: none;
	background-color: $alabaster;
	font-family: $default_font;

	// transition-duration: 0.25s;
	&:active {
		border: 2px solid $blue;
	}
	@include tablet {
		min-height: 2.5rem;
		min-width: 15rem;
		padding: 1rem;
		height: 2.5rem;
	}
}

.section-header,
.label {
	font-size: 0.75rem;
	line-height: 1.25rem;
	font-weight: bold;
}
@include tablet {
}

.avatar {
	border-radius: 50%;
	max-width: 2.25rem;
	max-height: 2.25rem;
	width: 2.25rem;
	height: 2.25rem;
	object-fit: cover;
	@include tablet {
		max-width: 2.5rem;
		width: 2.5rem;
		height: 2.5rem;
		max-height: 2.5rem;
		display: flex;
	}
}
